In [ ]:
#由于数据量巨大，如果句这样处理，在服务器上面都得处理可能50h
#所以将40000条数据分成了8份，复制8个.py文件并行的处理，效率有很大提高

In [3]:
import os
from collections import Counter
from datetime import datetime
import csv

In [4]:
#将.txt数据处理成为csv数据，对星期x和一天24小时都进行了进一步分段处理（也可以不分段）
def get_data_into_csv(rpath,wpath):
    files=os.listdir(rpath)
    labels=[]
    c=0
    for file in files:
        label=int(file[-5])
        labels.append(label)
        r=open(os.path.join(rpath,file),'r')
        #w=open(wpath,'w')
        datas=r.readlines()
        l=len(datas)
        weekend=0
        weekday=0
        d1=0
        d2=0
        d3=0
        d4=0
        week=[]
        hour=[]
        for data in datas:
            datalist=data[17:].strip('').split(',')
            #print(datalist)
            for per in datalist:
                #per.strip('\n')
                week.append(per[:8])
                hour=hour+per[9:].split('|')
        for k in week:
            t=datetime.strptime(k,"%Y%m%d").weekday()
            if t==0 or t==6:
                weekend=weekend+1
            else:
                weekday=weekday+1
        #print(weekend,weekday)
        for i in range(len(hour)):
            hour[i]=hour[i].strip('\n')
        hour=list(map(int, hour))
        for h in hour:
            if h>0 and h<7:
                d1=d1+1
            elif h>6 and h<13:
                d2=d2+1
            elif h>12 and h<19:
                d3=d3+1
            else:
                d4=d4+1
        #print(l,weekend,weekday,d1,d2,d3,d4)
        templist=[label,l,weekend,weekday,d1,d2,d3,d4]

        out = open(wpath,'a', newline='')
        #设定写入模式
        csv_write = csv.writer(out,dialect='excel')
        #写入具体内容
        csv_write.writerow(templist)
        c=c+1
        print(c)
        #out.close
    print('Finished')
    out.close()
    #w=open('./data/label.txt','w')
    w.write(str(labels))
    w.close()

In [1]:
get_data_into_csv('xxx','xxx') #结合自己的文件路径改写和自己习惯命名

In [ ]:
#以上为处理.txt文件数据，并以.csv文件存储的代码

In [ ]:
#以下的代码是为了提高处理效率，堆数据分成了好几份。data11,data12....都是处理好的数据，下面的代码是作一个合并。

In [1]:
import pandas as pd
import numpy as np

In [2]:
train11 = pd.read_csv('./data/data11.csv')
train12 = pd.read_csv('./data/data12.csv')
train21 = pd.read_csv('./data/data21.csv')
train22 = pd.read_csv('./data/data22.csv')
train31 = pd.read_csv('./data/data31.csv')
train32 = pd.read_csv('./data/data32.csv')
train41 = pd.read_csv('./data/data41.csv')
train42 = pd.read_csv('./data/data42.csv')

In [3]:
aa=train11.append(train12)

In [4]:
aa.shape

(10001, 8)

In [5]:
data_total=pd.concat([train11, train12,train21,train22,train31,train32,train41,train42],axis=0)

In [6]:
data_total.shape

(40001, 8)

In [7]:
train11.shape,train12.shape,train21.shape,train22.shape,train31.shape,train32.shape,train41.shape,train42.shape

((5012, 8),
 (4989, 8),
 (6482, 8),
 (3524, 8),
 (5278, 8),
 (4872, 8),
 (5670, 8),
 (4174, 8))

In [9]:
data_total.head(3)

   label    num  weekend  weekday     h1     h2     h3     h4
0      5  21952    23341    59412  37163  48282  55269  47585
1      1    218      723     1549   1600   3013   3290   3205
2      2    220      445     1243    526   2141   1953    877

In [26]:
#data_total.to_csv('./data/total_data.csv',index=False)